body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
}

.container {
    max-width: none !important;
    background: linear-gradient(to bottom right, #000000, #0b040c, #13091a, #181029, #1a1936, #1a2441, #183049, #153c4d, #14494e, #16554a, #1a6045, #236a3d, #307136, #407631, #53792e, #697a30 ,#7f7a36, #957941, #a97851, #ba7964, #c77a7b, #cf7e92, #d384a9, #d48cbf, #d196d1, #cda2e0, #c8afea, #c3bcf0, #c1caf3, #c2d6f2, #c5e0f1, #cde9ef, #d7f1ee, #e4f6f0, #f1fbf5, #ffffff) !important;
}

h1 {
    color: #e168ff;
}

h2 {
    color: #228B22;
}

h3 {
    color: #228B22;
}

h4 {
    color: #228B22;
}


.ratings-container {
    background-color: #000000;
    border: solid;
    border-color: #8f00ff;
    border-radius: 10px;
    padding: 15px;
}

.rating-entry {
    color: #e168ff;
}

.avatar-container .Player-username {
    color: #e168ff;
    font-size: 2em;
    font-family: "Comic Sans MS", cursive, serif;
}

.active-games {
    background-color: #FFB6C1;
    border: solid;
    border-color: #8f00ff;
}

.move-number {
    color: #e168ff;
}

.game-name {
    color: #e168ff;
}

.Clock {
    color: #e168ff;
}

.size {
    color: #e168ff;
}

.Player-username {
    color: #e168ff;
}

.Player-rank {
    color: #e168ff;
}

.game_name {
    color: #e168ff;
}

.board_size {
    color: #e168ff;
}

.date {
    color: #e168ff;
}

.user_info {
    color: #e168ff;
}

.sortable {
    color: #228B22;
}

#default-variant-container > div.User.container > div.row > div.col-sm-8 > div:nth-child(3) {
    display: none;
}

#default-variant-container > div.User.container > div.row > div.col-sm-8 > div.Card {
    display: none;
}

#default-variant-container > div.User.container > div.row > div.col-sm-8 > div:nth-child(2) > div > div {
    background-color: #000000;
    border: solid;
    border-color: #8f00ff;
    border-radius: 10px;
    padding: 15px;
}

#default-variant-container > div.User.container > div.row > div.col-sm-4 > div.Card.activity-card {
    background-color: #000000;
    border: solid;
    border-color: #8f00ff;
    border-radius: 10px;
    padding: 15px;
}

#default-variant-container > div.User.container > div:nth-child(1) > div > div > div.avatar-container > span {
    background-color: #000000;
    border: solid;
    border-color: #8f00ff;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

#default-variant-container > div.User.container {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, span {
    animation:rainbowText 2s infinite;
}
@keyframes rainbowText{
    0%   {  color: #FF0900; }
    17%  {  color: #FF7F00; }
    33%  {  color: #FFEF00; }
    50%  {  color: #00F11D; }
    67%  {  color: #0079FF; }
    83%  {  color: #A800FF; }
    100% {  color: #FF0900; }
}
